<FilesMatch ".(eot|otf|ttf|woff|woff2|html)">
    Header always set Access-Control-Allow-Origin "*"
</FilesMatch>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]