
<html>
<head>
	<title>Invoice Number</title>
	<!-- <meta http-equiv="refresh" content="1" > -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">

*{
	margin-left:1.25%;
	margin-right:2%;
	margin-top:0%;
	margin-bottom:0%;

}
</style>	
</head>
<body>

<table border="0px" width="100%" style="margin-top:4%;" >
	<tr><td colspan="7" align="center"><h1>DUET INDIA HOTELS (CHENNAI OMR) PRIVATE LIMITED.</h1><br><h2> PURCHASE ORDER </h2><br><br> </td></tr>
	


	<tr>
		<td colspan="2" align="left" width="25%"><h3>Address For Correspodance </h3></td>
		<td colspan="5" align="left" width="62.5%"></td>
	
	</tr>


	<tr>
		<td width="10%"></td>
		  <td width="14%">
		     PLOT NO.46 UDYOG VIHAR PHASE - 4 GURGAON HARYANA 122015
          </td>
          <td colspan="3" width="37.5%"></td>
          <td colspan="2" width="25%"><strong>P.O.No : </strong> DUET/OMR/14-15/SEP/ PM15000016<br>
          	                          <strong>P.O.Date : </strong> 18-09-2014<br>
          	                          <strong>P.O.Type : </strong> Local
          </td>


	</tr>


	<tr>
		<td><strong>Tel : </strong></td>
		<td colspan="6"> 0124-458700</td>
	</tr>


   
<tr><td colspan="7"><br></td></tr>



	<tr>
		<td colspan="2" align="left" width="25%"><h3>Address For Project : </h3></td>
		<td colspan="5" align="left" width="62.5%"></td>
	
	</tr>

	<tr>
		<td width="10%"></td>
		  <td width="14%">
		      S NO.169/1B1A , SEMMENCHERY VILLAGE, OMR CHENNAI CHENNAI 600119
          </td>
          <td colspan="5" width="62.5%"></td>
          </td>


	</tr>


	<tr>
		<td><strong>Tel : </strong></td>
		<td colspan="6"> 0124-458700</td>
	</tr>





    
    <tr>
    	<td><strong> Supplier Code: </strong></td>
    	<td> G006-00-00  </td>
    	<td colspan="5"></td>
    </tr>





 <tr>
      <td><strong> Supplier name: </strong></td>
      <td> GROHE INDIA PVT. LIMITED </td>
      <td colspan="5"></td>
 </tr>
 


     <tr>
    	<td style="padding-bottom:5%;"><strong> Supplier Address: </strong></td>
    	<td> 14TH FLOOR, DLF BUILDING NO : 5, DLF CITY CENTRE, DLF PHASE - III GURGAON - HARYANA 122002 </td>
    	<td colspan="5"></td>
    </tr><tr><td><br></td></tr>



      <tr>
		<td><strong>Tel : </strong></td>
		<td colspan="6"> +91-124-4933000 </td>
	</tr><tr><td><br></td></tr>


	<tr>
		<td><strong>E-Mail : </strong></td>
		<td colspan="6"> Gauray.Kakar@grohe.com  </td>
	</tr><tr><td><br></td></tr>


	<tr>
		<td><strong> Kind Attention :  </strong></td>
		<td colspan="6"> MR. GAURAV KAKKAR  </td>
	</tr><tr><td><br></td></tr>


   <tr>
		<td><strong> PAN : </strong></td>
		<td> AACCG6062B  </td>

		<td><strong> TIN NO :</strong> 27450563028</td>
		
		<td style="text-align: right"><strong> Serv. Tax No. :</strong> SRVPANNOTAVBL </td>
		<td colspan="3"></td>

	</tr><tr><td><br></td></tr>

   <tr><td colspan="7" align="center"><strong> Purchase Order for Supply of GROHE make Sanitary Fittings as per approved model & specs. </strong></td></tr><tr><td><br></td></tr>


   <tr>
   	<th width="10%" align="left"> Item Cd </th>
   	<th width="15%" align="center"> Description </th>
   	<th width="12.5%" style="text-align: right;"> UOM </th>
   	<th width="17.5%" style="text-align: center;"> Qty </th>
   	<th width="12.5%" align="right"> Unit Price </th>
   	<th width="12.5%" align="right"> Tax Amount </th>
   	<th width="12.5%" align="right"> Item Amount </th>
   </tr><tr><td><br></td></tr>


  <?php 
  for($i=0;$i<10;)
  {?>
  <tr>
   	<td width="10%" align="left" style="padding-bottom:2%"> 0000000061 </td>
   	<td width="15%" align="center"> SINGLE LEVER BASIN MIXER  1/2" BauEdge (Part No: 32 858 000) </td>
   	<td width="12.5%" style="text-align: right;"> NOS  </td>
   	<td width="17.5%" style="text-align: center;"> <?php echo ++$i;?> </td>
   	<td width="12.5%" align="right"> 138.00  </td>
   	<td width="12.5%" align="right"> 1,650.000  </td>
   	<td width="12.5%" align="right"> 2,27,700.0 </td>
   </tr><tr><td><br></td></tr>
   <?php } ?>

   <tr>
   	
   	<td colspan="5"></td>
   	<th align="right"> Total : </th>
   	<td align="right"> 11,75,926.00 <hr style="color: black;border: solid black;border-bottom-width: 0; padding-bottom: -1%"></td>
   </tr><tr><td><br></td></tr>


   <tr>
   	
   	<td colspan="5"></td>
   	<th align="right"> Grand Total : </th>
   	<th align="right"> 11,75,926.00 <hr style="color: black;border: solid black;border-bottom-width: 0;"></th>
   </tr><tr><td><br></td></tr>



   <tr>
   	<th colspan="7" align="left"> ( Rupees ELEVEN LACKS SEVENTY-FIVE THOUSAND NINE HUNDRED TWENTY-SIX ONLY )  </th>
   </tr><tr><td><br></td></tr>


   

    <tr>
   	<th colspan="7" align="left"><br><br><br><br></th>
   </tr><tr><td><br></td></tr>


    
    <tr>
    	<th colspan="2" align="left"> Prepared By </th>
    	<th colspan="3" align="center"> Departmental Approval </th>
    	<th colspan="2" align="right"> Finance Approval </th>
    </tr><tr><td><br></td></tr>

    
    <tr>
    	<th> Terms & Conditions</th>
    	<td colspan="6"></td>
    </tr><tr><td><br></td></tr>

    <tr>
    	<th colspan="2" align="left"> Description </th>
    	<th colspan="3" align="left"> Remarks </th>
    	<td colspan="2"></td>
    </tr>

      
      <?php 
      for($i=0;$i<3;$i++)
      {?>  
    <tr>
        <td colspan="2" align="left"> Annexure </td>
        <td colspan="3" align="left"> Terms and conditions are as per Annexure A attached </td>
        <td colspan="2"></td>
    </tr>
        <?php } ?>
    <tr><td><br></td></tr>
   

    <tr><td><br><br><br></td></tr>

</table>
	
</body>
</html>